@import "../../App/variables";

.forecast_info {
  .location_info {
    padding: 2rem;
    margin-top: 2rem;
    min-height: 30rem;
    display: flex;
    border-radius: 4px;
    background-color: $background_color;
  }

  .actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 0;
    width: 100%;
    flex-wrap: wrap;
    gap: 2rem;
  }
}

@media only screen and (max-width: 991px) {
  .forecast_info { 
    .actions {
      justify-content: center;
    }
  }
}
