.empty_forecast {
  display: flex;
  width: 100%;
  height: 100%;
  margin: auto 5rem;
  gap: 5rem;
  flex-wrap: wrap;

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
