.daily_forecast_card {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: white;
  border-radius: 4px;
  height: 22rem;

  > p {
    text-align: center;
  }

  > img {
    width: 10rem;
    height: 10rem;
    margin: auto;
  }

  .temp_footer {
    display: flex;
    justify-content: space-between;
    align-items: end;
    > div {
      > p {
        text-align: center;
        font-size: 0.9rem;
        margin-block-end: 0;

        > span::before {
          content: "\A";
          white-space: pre;
        }
      }
    }
  }
}


@media only screen and (max-width: 991px) {
  .daily_forecast_card { 
    width: 17rem;
  }
}
