@import "../../App/variables";

.location_forecast {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;

  .location_header {
    display: flex;
    justify-content: space-between;
  }

  .coordinates {
    span {
      font-weight: 600;
    }
  }

  .cards_container {
    // display: flex;
    // gap: 2rem;
    // flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
  }

  .add_to_favourites_btn {
    align-items: center;
    background-color: #fa6400;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-size: 1rem;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    vertical-align: baseline;
    width: auto;
  }
}
